@font-face {
  font-family: "Abnes";
  src: url('Assets/Fonts/abnes/abnes.ttf');
}

@font-face {
  font-family: "Samsung";
  src: url('Assets/Fonts/samsung-logo/@font-face/8915f60fd14a7688bcae6a457be3bd08.woff2');
}

@font-face {
  font-family: 'Davinci';
  src: url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.eot');
  src: url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.eot?#iefix') format('embedded-opentype'),
       url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.woff') format('woff'),
       url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.woff2') format('woff2'),
       url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.ttf') format('truetype'),
       url('Assets/Fonts/davinci-webfont-kit/davinci-webfont.svg') format('svg');
}

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f5f5f5;
}

/* Navbar and Home section CSS */

.bg-img-home {
  background-image: url('Assets/Images/home.png');
  height: 92vh;
  width: 100%;
  background-size: cover;
  background-position: top 0% right 0%;
  background-repeat: no-repeat;
  z-index: 1;
  overflow-x: hidden
}

.bg-img-text-home {
  font-family: "Davinci", "sans-serif";
  font-size: 9vh;
  font-weight: 600;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding-top: 18vh;
  z-index: 1;
  transition: all 0.69s ease;
}

.bg-img-text-home.enlarge {
  font-size: 12vh;
  transform: scale(1.69);
  transition: all 0.69s ease;
}

.bg-img-text-home.fade {
  opacity: 0;
}

.fade {
  opacity: 0;
  transition: all 0.5s ease;
}

nav {
  background: #333333;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
  z-index: 9999;
  
  /* to make sticky navbar */
  position: sticky;
  top: 0;
  left: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 45px;
  padding: 15px 0px;
}

.logo {
  color: #aeaeae;
  text-decoration: none;
  font-family: "Abnes", "sans-serif";
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform .3s;
}

.logo:hover {
  color: #a69a85;
  transition: transform .3s;
  transform: scale(1.1);
}

.nav-elements {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.nav-elements:hover {
  color: #a69a85;
  cursor: pointer;
}

.nav-element-welcome {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  transition: transform .3s;
}

.nav-element-welcome .dropdown{
  position: absolute;
  top: 100%;
  right: 0;
  filter: drop-shadow(.4rem .4rem .9rem #000);
}

.nav-element-welcome:hover {
  color: #a69a85;
  cursor: pointer;
  transition: transform .3s;
  transform: scale(1.1);
}

.nav-element-welcome:hover .dropdown{
  display: block;
  width: 100%;
}

.nav-element-welcome .in{
  font-family: "Samsung", "sans-serif";
  color: #ffffff;
  font-weight: 400;
  font-size: 70%;
  display: flex;
  padding: 8px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.nav-element-welcome .in-cat{
  font-family: "Samsung", "sans-serif";
  color: #ffffff;
  font-weight: 400;
  font-size: 70%;
  display: flex;
  padding: 8px;
  text-decoration: none;
  cursor: default;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: none;
  font-size: 1em;
  position: absolute;
  top: 100%;
  background-color: #333333;
  z-index: 9999;
  filter: drop-shadow(.4rem .4rem .9rem #000);
}

.profile_icon {
  margin: 0 20px;
  transition: transform .3s;
}

.profile_icon:hover {
  cursor: pointer;
  filter: drop-shadow(.4rem .4rem .9rem #000);
  transition: transform .3s;
  transform: scale(1.5);
}

.profile_icon:hover .dropdown {
  display: block;
}

.dropdown-li {
  margin: 0 20px;
}

.dropdown-li:hover {
  cursor: pointer;
  transition: transform .3s;
}

.dropdown-li:hover .dropdown {
  transition: transform .3s;
  transform: scale(1.04);
  display: block;
}

.dropdown-ul {
  font-family: "Samsung", "sans-serif";
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.dropdown-li {
  margin: 0 25px;
  transition: transform .3s;
}

.dropdown-li:hover {
  transition: transform .3s;
  transform: scale(1.3);
}

.dropdown a {
  font-family: "Samsung", "sans-serif";
  font-weight: 400;
  font-size: 70%;
  display: block;
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
}

.dropdown a:hover {
  color: #a69a85;
  transition: transform .3s;
}

.error {
  color: #d6a551;
}

.error:hover {
  color: #f5f5f5;
}

.wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(166, 154, 133, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(58%);
  z-index: 9998;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .3s ease;
}

.wrapper.active-register {
  height: 550px;
}

.wrapper.active-loginpopup {
  transform: scale(1);
}

.wrapper.active-registerpopup {
  transform: scale(1);
}

.form-boxlogin.inactive {
  display: none;
  transition: transform .28s ease;
  transform: translateX(-400px);
}

.form-boxlogin.active-login{
  position: absolute;
  transition: transform .28s ease;
  transform: translateX(0px);
}

.form-boxregister.inactive {
  display: none;
  transition: transform .28s ease;
  transform: translateX(400px);
}

.form-boxregister.active-register{
  position: absolute;
  transition: transform .28s ease;
  transform: translateX(0px);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #a88d5d;
  filter: brightness(70%);
  font-size: 2em;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 9998;
}

.wrapper .icon-close:hover {
  color: #f5f5f5;
  transition: transform .3s;
}

.form-boxlogin h2 {
  font-size: 2em;
  color: #e99b09;
  text-align: center;
}

.form-boxregister h2 {
  font-size: 2em;
  color: #e99b09;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #282e2e;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.4em;
  color: #a88d5d;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label, .input-box input:valid~label{
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #e99b09;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.3em;
  color: #a88d5d;
  margin-top: 20px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #a88d5d;
  filter: brightness(80%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
}

.btn:hover {
  color: #f5f5f5;
  transition: transform .3s;
}

.login-register {
  font-size: .9em;
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px
}

.login-register p {
  font-size: 1.25em;
  color: #a88d5d;
  text-decoration: none;
}

.login-register p a {
  color: #e99b09;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}


/* Cars section CSS */

.heading-cars {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  font-family: "Davinci", "sans-serif";
  font-size: 6vh;
  font-weight: 800;
  width: 100%;
}

.category {
  margin: 20px auto;
}

.category-headings {
  font-family: "Samsung", "sans-serif";
  font-size: 2em;
  text-align: center;
}

.car-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-tile {
  width: 300px;
  height: 330px;
  margin: 80px;
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.car-tile:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.car-tile img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 5px;
}

.car-tile h3 {
  font-size: 18px;
  margin-top: 10px;
}

/* New Reservation & Update/Delete Page CSS */

.new-update-delete-reservation-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9c948c;
  width: 100%;
  z-index: 1;
}


/* Custom Form CSS */

/* Custom Form 1 (New Booking) */

#form1.customform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(58%);
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

#form1.customform.expanded {
  transition: all 0.5s ease-out;
  overflow: hidden;
  height: auto;
}

#form1.customform-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #b9a47d;
  margin-top: 380px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#form1.customform-h2:hover {
  color: #D0CBC4;
}

#form1.customform-h2.expanded{
  transition: all 0.5s ease-out;
  margin-top: 30px;
}

#form1.customform-h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #a88d5d;
  margin-bottom: 20px;
  height: 10px;
}

#form1.input-box-customform {
  visibility: hidden;
  height: 0;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  height: 0;
  opacity: 0;
}

#form1.input-box-customform.expanded{
  visibility: visible;
  height: auto;
  opacity: 1;
}

#form1.input-box-customform label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

#form1.input-box-customform input, #form1.input-box-customform select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

#form1.input-box-customform input:focus, #form1.input-box-customform select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #a88d5d;
}

#form1.input-box-customform input:focus~label, #form1.input-box-customform input:not(:placeholder-shown)~label, #form1.input-box-customform select:focus~label, #form1.input-box-customform select:not(:placeholder-shown)~label {
  top: 10px;
  font-size: 1.2rem;
  color: #a88d5d;
}

#form1.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transform: scale(0);
  opacity: 0;
}

#form1.btncontainer.expanded {
  opacity: 1;
  transition: all 0.5s ease-out;
  transform: scale(1);
}

/* Custom Form 2 (Add Booking) */

#form2.customform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(58%);
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

#form2.customform-h2:hover {
  color: #D0CBC4;
}

#form2.customform.expanded {
  transition: all 0.5s ease-out;
  overflow: hidden;
  height: auto;
}

#form2.customform-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.0rem;
  color: #a88d5d;
  margin-top: 140px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#form2.customform-h2.expanded{
  transition: all 0.5s ease-out;
  margin-top: 30px;
}

#form2.input-box-customform {
  visibility: hidden;
  height: 0;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  height: 0;
  opacity: 0;
}

#form2.input-box-customform.expanded{
  visibility: visible;
  margin-top: 10px;
  height: auto;
  opacity: 1;
}

#form2.input-box-customform label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

#form2.input-box-customform input, #form2.input-box-customform select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

#form2.input-box-customform input:focus, #form2.input-box-customform select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #a88d5d;
}

#form2.input-box-customform input:focus~label, #form2.input-box-customform input:not(:placeholder-shown)~label, #form2.input-box-customform select:focus~label, #form2.input-box-customform select:not(:placeholder-shown)~label {
  top: 10px;
  font-size: 1.2rem;
  color: #a88d5d;
}

#form2.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transform: scale(0);
  opacity: 0;
}

#form2.btncontainer.expanded {
  opacity: 1;
  transition: all 0.5s ease-out;
  transform: scale(1);
}

/* Custom Form 3 (Update Booking) */

#form3.customform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(58%);
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

#form1.customform-h2:hover {
  color: #D0CBC4;
}

#form3.customform-h2:hover {
  color: #D0CBC4;
}

#form3.customform.expanded {
  transition: all 0.5s ease-out;
  overflow: hidden;
  height: auto;
}

#form3.customform-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #a88d5d;
  margin-top: 380px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#form3.customform-h2.expanded{
  transition: all 0.5s ease-out;
  margin-top: 30px;
}

#form3.customform-h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #a88d5d;
  margin-bottom: 20px;
  height: 10px;
}

#form3.input-box-customform {
  visibility: hidden;
  height: 0;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  height: 0;
  opacity: 0;
}

#form3.input-box-customform.expanded{
  visibility: visible;
  height: auto;
  opacity: 1;
}

#form3.input-box-customform label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

#form3.input-box-customform input, #form3.input-box-customform select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

#form3.input-box-customform input:focus, #form3.input-box-customform select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #a88d5d;
}

#form3.input-box-customform input:focus~label, #form3.input-box-customform input:not(:placeholder-shown)~label, #form3.input-box-customform select:focus~label, #form3.input-box-customform select:not(:placeholder-shown)~label {
  top: 10px;
  font-size: 1.2rem;
  color: #a88d5d;
}

#form3.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transform: scale(0);
  opacity: 0;
}

#form3.btncontainer.expanded {
  opacity: 1;
  transition: all 0.5s ease-out;
  transform: scale(1);
}

/* Custom Form 4 (Delete Booking) */

#form4.customform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px) brightness(58%);
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

#form4.customform-h2:hover {
  color: #D0CBC4;
}

#form4.customform.expanded {
  transition: all 0.5s ease-out;
  overflow: hidden;
  height: auto;
}

#form4.customform-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  color: #a88d5d;
  margin-top: 140px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

#form4.customform-h2.expanded{
  transition: all 0.5s ease-out;
  margin-top: 30px;
}

#form4.input-box-customform {
  visibility: hidden;
  height: 0;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  height: 0;
  opacity: 0;
}

#form4.input-box-customform.expanded{
  visibility: visible;
  margin-top: 10px;
  height: auto;
  opacity: 1;
}

#form4.input-box-customform label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #666;
  font-weight: 500;
  pointer-events: none;
  transition: .3s;
}

#form4.input-box-customform input, #form4.input-box-customform select {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

#form4.input-box-customform input:focus, #form4.input-box-customform select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-color: #a88d5d;
}

#form4.input-box-customform input:focus~label, #form4.input-box-customform input:not(:placeholder-shown)~label, #form4.input-box-customform select:focus~label, #form4.input-box-customform select:not(:placeholder-shown)~label {
  top: 10px;
  font-size: 1.2rem;
  color: #a88d5d;
}

#form4.btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  transform: scale(0);
  opacity: 0;
}

#form4.btncontainer.expanded {
  opacity: 1;
  transition: all 0.5s ease-out;
  transform: scale(1);
}

/* Common CSS for all the form buttons */
.btnform {
  width: 100%;
  max-width: 300px;
  height: 60px;
  background-color: #a88d5d;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  transition: .3s;
}

.btnform:hover {
  background-color: #8a6c3f;
}

/* CSS for Car Availability and Reservation Tables*/

.wrapper-customtable {
  font-family: Arial, sans-serif;
  width: 80vw;
  margin: auto;
  background: transparent;
  backdrop-filter: blur(20px);
  transition: all 0.8s ease;
}

.wrapper-customtable-h2 {
  background-color: #333;
  color: #a69a85;
  padding: 10px;
  text-align: center;
}

.wrapper-customtable-h2:hover {
  color: #f5f5f5;
  cursor: pointer;
}

.selector-wrapper-customtable {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector-wrapper-customtable label {
  margin-right: 10px;
}

.selector-wrapper-customtable select {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.selector-wrapper-customtable input[type="submit"] {
  background-color: #333;
  color: #a69a85;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

.selector-wrapper-customtable input[type="submit"]:hover {
  color: #f5f5f5;
}

.customtable {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.customtable-btn {
  background-color: #333;
  color: #a69a85;
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

.customtable-btn:hover{
  color: #f5f5f5;
}

.customtable th {
  background-color: #333;
  color: #a69a85;
  font-weight: normal;
  text-align: left;
  padding: 8px;
  text-align: center;
}

.customtable th:hover {
  color: #f5f5f5;
  cursor: pointer;
}

.customtable td {
  color: #333;
  padding: 8px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.customtable td:hover {
  color: #f5f5f5;
  cursor: pointer;
}

.customtable tr:hover {
  background-color: #a69a85;
}

/* Back To Top button CSS */

.back-to-top {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
  height: 69px;
  border: none;
  border-radius: 15px;
  background:transparent;
  text-decoration: none;
  overflow: hidden;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  transition: all 0.5s ease;
}

.back-to-top:hover {
  width: 190px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.back-to-top img {
  display: block;
  width: 69px;
  height: 69px;
  object-fit: contain;
}

.back-to-top-text {
  height: 2.2vh;
  overflow: hidden;
  transform: translateX(-10%);
  transition: transform 0.5s ease;
}

.back-to-top:hover .back-to-top-text {
  transform: translateX(0%);
}


/* Footer section CSS */

footer {
  background-color: #333333;
  color: #ffffff;
  font-size: 2vh;
  padding: 50px 0;
  width: 100%;
  text-align: center;
}

footer h4 {
  margin-top: 0;
}

footer p {
  line-height: 1.5;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Custom Scrollbar */

html::-webkit-scrollbar {
  width: 0.69vw;
  background-color: #000000;
}

html::-webkit-scrollbar-track {
  background-color: #000000;
  margin-block: 0.5rem;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 0.5vw solid #a69a85;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #a69a85;
  border-color: #aeaeae;
}

/* Scrollbar customisation for Firefox and non-webkit based browsers */
html {
  scrollbar-width: thin;
  scrollbar-color: #a69a85 #000000;
}


@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 20px;
  }

  li {
    margin: 10px 0;
  }
}